*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    margin: 0;
}
#sectionLeft{
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerSectionLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    gap: 20px;
}
#textosSL {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #2D84C6;
}
#comeceParagrafo{
    font-weight: 700;
    font-size: 40px;
    width: 280px;
    margin-bottom: 10px;
}
#cadastreParagrafo{
    font-size: 20px;
    width: 250px;
    font-weight: 100;
}
#sectionRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionRight{
    background-image: linear-gradient(to bottom, #329FD9, #329FD9, #204198);
}

#cadastro{
    background-color: white;
    border-radius: 50px;
    height: 500px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#formSR{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

#criarBotao{
    font-size: 30px;
    font-weight: 500;
    width: 200px;
    background-color: #2D84C6;
    color: white;
}

#tituloCadastro{
    padding-bottom: 50px;
    font-size: 80px;
    color: #2D84C6;
}

#user, #email, #senha {
    padding-left: 35px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.campoCadastro{
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 16px;

   
}
/* #user{
    background-image: url(assets);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
} */

.iconsCadastro{
    height: 25px;
    position: absolute;
    right: 750px;
    opacity: 30%;
}

.camposEicons{
    display: flex;
    align-items: center;
}