*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    display: flex;
}
#sectionLeft{
    background-color: white; 
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
#comeceParagrafo{
    font-weight: 800;
    font-size: 20px;
    width: 150px;
    background-color: aqua;
}
#cadastreParagrafo{
    width: 200px;
}
#sectionRight{
    background-color: blue;
    width: 550px;
}
/* #containerImgSL{
    justify-content: center;
    align-items: center;
} */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');